# Aliases
alias dotfiles="git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"
alias vim=nvim
alias top="top -u -s 2"
alias grep="grep --color"
alias la="ls -a"
alias ll="ls -lh"
alias gs="git status -sb"

# File management
if [ -n "$ZSH_VERSION" ]; then
  alias -g ...='../..'
  alias -g ....='../../..'
  alias -g .....='../../../..'
else
  alias ..="cd .."
  alias ...="cd ../.."
  alias ....="cd ../../.."
  alias .....="cd ../../../.."
fi

# IP addresses
alias globalip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Shortcut for opening a file or the current directory in macOS Finder
o() {
  open ${1:-"."}
}

# Get statistics on most commonly used commands
hstats() {
  fc -l 1 | awk '{CMD[$2]++;count++;}END { for (a in CMD)print CMD[a] " " \
    CMD[a]/count*100 "% " a;}' | grep -v "./" | \
    column -c3 -s " " -t | sort -nr | nl | head -n20
}

# Use fzf with z , if it's installed
if [ $(command -v fzf) ]; then
  if command -v z > /dev/null 2>&1; then
    unalias z 2> /dev/null

    function z() {
      [ $# -gt 0 ] && _z "$*" && return
        cd "$(_z -l 2>&1 |
          fzf --height 40% --nth 2.. --reverse --inline-info +s --tac \
          --query "${*##-* }" |
          sed 's/^[0-9,.]* *//')"
    }
  fi
fi
