.DS_Store

# vim temporary files and plugins
vim.symlink/tmp
vim.symlink/autoload
vim.symlink/plugged
vim.symlink/.netrwhist
config.symlink/nvim/.netrwhist

# firebase/npm related files, ignore for now
config.symlink/configstore

# Binary spell files, can be remade with :mkspell inside Vim
*.spl
