snippet log "console.log"
console.log(${1})
endsnippet

snippet log3 "console.log"
conso${2}le.log(${1})
bla${3}dfsdf
fsll(${4})sdfskjdfj
${0}
endsnippet

snippet func "function"
function ${1:Function}(${2:arg}) {
	${3}
}
endsnippet
